<!DOCTYPE html>
<html lang="en" ng-app="todoapp">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>My TO-DO's | Angular.js</title>

    <!-- Bootstrap Core CSS & some css styling -->
    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/journal/bootstrap.min.css" rel="stylesheet"/>
    <style>
            .strike {
                   text-decoration: line-through;
             }
             
            .no_strike {
                   text-decoration: none; 
            }
            
            .ng-invalid.ng-dirty {
                border-color: #D13F61;
            }
            
            .ng-valid.ng-dirty {
                border-color: #78FA89;
            }
    </style>

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Angular.js file -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- <script src="js/jquery-ui.js"></script> -->
    <script type="text/javascript" src="js/todoapp.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]
        <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        [endif]-->

    </head>
    <body ng-controller="TaskCtrl">
        <!-- nav-bar -->
        <div class="container">
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">TODO <span style="text-transform: lowercase;">app</span></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li><a href="#">About<span class="sr-only">(current)</span></a></li>
                <li><a href="https://github.com/yoni-g">github</a></li>
                <!-- to be added later on...-->
                <!--<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.linkedin.com/profile/view?id=300773442&trk=hp-identity-name">LinkedIn</a></li>
        </ul>
    </div>
</div>
</nav>
<!-- main welcome tab -->
<div class="jumbotron">
    <h1>&nbsp;Welcome!</h1>
    <blockquote>
        <h2>This is a simple TODO-list app</h2>
        <p>coded with <span style="font-size: 80%; color: #2ECCFA;">&#10084;</span> in Angular, php and MySql. </p>
    </blockquote>
</div>
<div class="includs">
        <!-- task's list table -->
        <div ng-include="'includes/tasktable.html'"></div>
        <!-- Task's form -->
        
  <div class="col-lg-6">
    <form class="form-horizontal">
           <legend>Add a task</legend>
           <fieldset>
              <div class="well bs-component">
                <div class="form-group">
                    <label for="textArea" class="col-lg-1 control-label">Task</label>
                    <div class="col-lg-5">
                        <input class="form-control" rows="1" id="textArea" placeholder="Write your task here" ng-model="userInput" required>
                    </div>
                    <label for="textArea" class="col-lg-1 control-label">Date</label>
                    <div class="col-lg-5">
                        <p><input class="form-control" type="date" placeholder="Pick a date" ng-model="date" required></p>
                    </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-info">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="addTask(userInput, date)">Submit</button>
                </div>
            </div>
            </div>
        </fieldset>
    </form>
    <legend></legend>
   </div>
<br>
<br>
<br>
</div>
<!-- footer info -->
<div style="margin-top:15%;">
    <footer class="footer" style="background-color: #f5f5f5;">
           <br>
           <div class="container">
                    <p class="text-muted">TODO app, my Angular.js project. Free to copy, A Share must..</p>
                    <br>
            </div>
    </footer>
</div>


<!-- js files -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>
